body {
  background-color: #eee;
}
html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.absolute {
  position: absolute;
}
.side-margin {
  margin: 2em 2em;
}
a {
  text-decoration: none;
}

.item-feature {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0.2em;
}

.feature-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 5em;
  border-radius: 2px;
}

.item-careers {
  display: flex;
  justify-content: flex-start;
  margin-left: 1em;
}

.weight {
  font-weight: 700;
}
.margin-right-1 {
  margin-right: 2rem;
}
.margin-left-1 {
  margin-left: 1rem;
}

a {
  color: #00000097;
}

.main-text {
  font-weight: 1200px;
  font-size: 50px;
}

.button-learn {
  width: 6em;
  border-radius: 7px;
  background-color: black;
  color: white;
  height: 2em;
  margin-top: 1rem;
}
.mainLogo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  margin: 2rem 0;
}

.flex-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-company {
  margin-left: 0.5em;
}
.margin {
  margin: 1em;
  scroll-margin-right: none;
}
